﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Car Reapir System - By Eduardo Santana to Centennial College - 301048660</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Car Reapair System</h1>
        </div>
        <div class="left">
            <div class="vertical-menu">
                <a href="/Car" class="@(ViewData["CurrentPage"]=="Car" ? "selected": "")">Manage Cars</a>
                <a href="/Car/Create" class="@(ViewData["CurrentPage"]=="CarCreate" ? "selected": "")">Registration</a>
            </div>
        </div>
        <div class="right">
            <div class="render-body">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2019 - Car Reapair System - By Eduardo Santana to Centennial College - 301048660</p>
        </div>
    </div>
    
</body>
</html>
