﻿@model CarCreateEditViewModel

@{
    ViewData["Title"] = "Car registration form";
    ViewData["CurrentPage"] = "CarCreate";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("Car/CreateEdit", Model)
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>



  
