﻿@model Car

@{
    ViewData["Title"] = "Car Deleting - " + Model.OwnersName;
    ViewData["CurrentPage"] = "Car";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<h3>Are you sure you want to delete this?</h3>

<div>
    @Html.Partial("Car/DetailsDelete", Model)
    <form asp-action="Delete">
        <input type="hidden" asp-for="CarID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
