﻿@model Car

@{
    ViewData["Title"] = "Car Details - " + Model.OwnersName;
    ViewData["CurrentPage"] = "Car";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
    @if (ViewBag.CurrentAction == "Created")
    {
       <h2>Car has been successfully registered as @Model.Make on @Model.ModifiedDate</h2>
    }
   
</div>

<div>
    @Html.Partial("Car/DetailsDelete", Model)
</div>
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.CarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
