﻿@model CarCreateEditViewModel

@{
    ViewData["Title"] = "Edit Car - " + Model.OwnersName;
    ViewData["CurrentPage"] = "Car";
    ViewData["CurrentPageAction"] = "Edit";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("Car/CreateEdit", Model)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

