﻿@model IEnumerable<Car>

@{
    ViewData["Title"] = "Cars List Page";
    ViewData["CurrentPage"] = "Car";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<p>
    <a asp-action="Create" class="add-new-btn">Create New</a>
</p>

<p>This page is for showing dynamic collection and Manage Cars</p>

@Html.Partial("Car/List", Model)
