﻿
@{
    ViewData["Title"] = "Home";
    ViewData["CurrentPage"] = "Home";
}


<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="content-body">
    <p>Car Reapair System - Please select menu on the left.</p>
</div>