﻿@model CarCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="CarID" />
<div class="form-group">
    <label asp-for="LicencePlate" class="control-label"></label>
    <input asp-for="LicencePlate" class="form-control" />
    <span asp-validation-for="LicencePlate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="OwnersName" class="control-label"></label>
    <input asp-for="OwnersName" class="form-control" />
    <span asp-validation-for="OwnersName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="OwnersAddress" class="control-label"></label>
    <input asp-for="OwnersAddress" class="form-control" />
    <span asp-validation-for="OwnersAddress" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Make" class="control-label"></label>
    <select asp-for="Make" asp-items="Model.Makes" class="form-control" asp-ite></select>
    <span asp-validation-for="Make" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Model" class="control-label"></label>
    <input asp-for="Model" class="form-control" />
    <span asp-validation-for="Model" class="text-danger"></span>
</div>

<div class="form-group">
    <div>
        <label class="control-label">Additional Features</label>

    </div>
    <div class="checkbox-content">
        <div class="checkbox-float">
            <label asp-for="AD4Doors" class="control-label"></label>
            <input asp-for="AD4Doors" class="form-control checkbox" />
            <span asp-validation-for="AD4Doors" class="text-danger"></span>
        </div>
           
        <div class="checkbox-float">
            <label asp-for="ADHybrid" class="control-label"></label>
            <input asp-for="ADHybrid" class="form-control checkbox" />
            <span asp-validation-for="ADHybrid" class="text-danger"></span>

        </div>

        <div class="checkbox-float">
            <label asp-for="AD4WD" class="control-label"></label>
            <input asp-for="AD4WD" class="form-control checkbox" />
            <span asp-validation-for="AD4WD" class="text-danger"></span>
        </div>        
    </div>
</div>
