﻿@model Car

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.LicencePlate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LicencePlate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.OwnersAddress)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnersAddress)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.OwnersAddress)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.OwnersAddress)
    </dd>
    <dt>
        Created Date
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedDate)
    </dd>
</dl>

