﻿@model IEnumerable<Car>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnersName)
            </th>
          
            <th class="th-controls"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-controller="Car" asp-action="Details" asp-route-id="@item.CarID" class="not-btn">
                    @Html.DisplayFor(modelItem => item.OwnersName)
                </a>
            </td>
          
            <td>
                <a asp-controller="Car" asp-action="Edit" asp-route-id="@item.CarID">Edit</a> |
                <a asp-controller="Car" asp-action="Details" asp-route-id="@item.CarID">Details</a> |
                <a asp-controller="Car" asp-action="Delete" asp-route-id="@item.CarID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
